* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
  ::selection {
    color: #fff;
    background: #412A25;
  }
  
  .wrapper h1{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-style: italic;
    padding-bottom: 8px;
    text-decoration: underline;
  }
  .task-input {
    position: relative;
    height: 52px;
    padding: 0 25px;
  }
  
  .task-input ion-icon {
    position: absolute;
    top: 50%;
    color: #999;
    font-size: 25px;
  }
  
  .task-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 1px solid #999;
  }
  
  .controls,
  li {
    display: flex;
    align-items: center;
  }
  
  .controls {
    padding: 18px 25px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .filters span {
    margin: 0 8px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
  }
  
  .filters span:first-child {
    margin-left: 0;
  }
  
  .filters span.active {
    color: orangered;
    color: white;
    padding: 4px;
    border-radius: 5px;
    background-color:green;
    
  }
  
  .clear-btn {
    border: none;
    opacity: 0.6;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
    margin-left: 12px;
    background: red
  }
  
  .clear-btn.active {
    opacity: 0.9;
    pointer-events: auto;
  }
  
  .clear-btn:active {
    transform: scale(0.93);
  }
  
  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
  }

  
  .task-box .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding: 16px;
    align-items: flex-start;
  }
  
  .task-box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
  
  .task-box .task label {
    display: flex;
    align-items: flex-start;
  }
  
  .task label input {
    margin-top: 7px;
  }
  
  .task label p {
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;
  }
  
  .task label p.checked {
    text-decoration: line-through;
    color: rgb(211, 3, 3);
    
  }
  
  .task-box .settings {
    position: relative;
  }
  
  .settings :where(i, li) {
    cursor: pointer;
  }
  
  .task-box .task:last-child .task-menu {
    bottom: 0;
    transform-origin: bottom right;
  }
  
  .task-box .task:first-child .task-menu {
    bottom: -65px;
    transform-origin: top right;
  }
  
  .task-menu.show {
    transform: scale(1);
  }
  
  .task-menu li {
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    justify-content: flex-start;
  }
  
  .task-menu li:last-child {
    margin-bottom: 0;
  }
  .settings li i {
    padding-right: 8px;
  }
  